/* 화면크기 800부터 1499까지  */ 
@media screen and (min-width: 800px) and (max-width: 1499px) {
    .login_title {    /* 제목부분 */ 
        text-align: center;
        margin:34px;
        font-size: 35px;
    }
    .login_box {      /* 입력부분의 박스 */
        border: 1px solid rgb(215, 233, 238);
        text-align: center;
        padding: 30px;
        margin: 0 300px;
    }
}

/* 화면크기 1500이상  */
@media screen and (min-width: 1500px) { 
    .login_title {
        text-align: center;
        margin:50px;
        font-size: 45px;
    }
    .login_box {
        border: 1px solid rgb(215, 233, 238);
        text-align: center;
        padding: 90px;
        margin: 0 200px;
    }
}

/* 로그인(아디, 비번)의 입력 */
#login_input {        
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    margin: 20px;
}
/* 버튼 크기 */
button {              
    margin: 20px;
    width: 500px;
}

/* 하단 배너의 css  */
.footer {             
    background-color: #0a1016;
    color:#ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
  }

