.login_title {
    text-align: center;
    margin:100px;
}
.login_box {
    border: 1px rgb(215, 233, 238) solid;
    text-align: center;
    padding: 90px;
    margin: 0 900px;  
}
#login_input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    margin: 20px;
}
button {
    margin: 20px;
    width: 500px;
}
.footer {
    background-color: #0a1016;
    color:#ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

